<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-main">
                <div class="sidebar-header">
                    <h1>Document</h1>
                    <h1>Management System</h1>
                </div>
                <div class="sidebar-btn">
                    <i class="fa-solid fa-caret-left"></i>
                </div>
                <div class="underline"></div>
                <div class="sidebar-items">
                    <ul class="nav-links">
                        <li class="nav-items">
                            <a href="">
                                <i class="fa-solid fa-grip"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-items">
                            <a href="">
                                <i class="fa-solid fa-file-pdf"></i>
                                <p>Files</p>
                            </a>
                        </li>
                        <li class="nav-items">
                            <a href="">
                                <i class="fa-solid fa-message"></i>
                                <p>Messages</p>
                            </a>
                        </li>
                         <li class="nav-items AI">
                            <a href="">
                                <i class="fa-solid fa-brain"></i>
                                <p>Doc Analyzer AI</p>
                            </a>
                        </li>
                        <li class="nav-items">
                            <a href="">
                                <i class="fa-solid fa-gear"></i>
                                <p>Settings</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <h2>Content will come here</h2>
        </div>
    </div>
    <script src="/app/static/js/index.js"></script>
</body>
</html>